#hello {
  background-color: purple;
  height: 90px;
  width: 100%;
}

h2 {
  border: 1px dashed green;
  outline-style: solid;
  outline-color: black;
}

#val {
  border: 1px dashed red;
  outline-style: solid;

  outline-offset: 10px;
}